body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    font-size: 50px;
    font-style: normal;
    
}
.orange-highlight{
    color: orange;
}
.Half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.top-banner{
    background-image: url("./images/top-banner.png");
    background-repeat: no-repeat;
}
.Half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 350px;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
h2{
    font-weight: 600;
}
h3{
    font-weight: 450;
}
p{
    color: dimgray;
}
.bottom-banner {
    background-image: url("./images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.company-link{
    text-decoration: none;
    color: orange;
}
.experience-area {
    background-image: url("/images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.experience-text {
    font-weight: 650;
    text-align: center;
    
}
.single-experience{
    
    
    box-shadow: 5px 5px 20px grey;
    border-radius: 15px;
    height: 80%;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightSalmon, violet);
    border-image-slice: 1;
}
#junior-dev{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, violet,lightSalmon);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-weight: 300;
    font-size: 12px;
}

